@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
<h2>Stock Prices</h2>
<table>
    <tr>
        <th>Symbol</th>
        <th>Bid</th>
        <th>Ask</th>
    </tr>
    @for (int i = 0; i < Model.Symbols.Count(); i++)
    {
        <tr>
            <td>@Model.Symbols[i]</td>
            <td>@Model.BidPrices[i]</td>
            <td>@Model.AskPrices[i]</td>
        </tr>
    }
</table>
</body>