@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<head>
    <script type='text/javascript'>
        var timeout = 5 * 1000;
        setTimeout(function () { location.reload(true); }, timeout);
    </script>
</head>

<body>
<h2>Stock Prices</h2>
<table>
    <tr>
        <th>Symbol</th>
        <th>Bid</th>
        <th>Ask</th>
    </tr>
    @for (int i = 0; i < Model.StockPriceDtos.Count(); i++)
    {
        <tr>
            <td>@Model.StockPriceDtos[i].Symbol</td>
            <td>@Model.StockPriceDtos[i].BidPrice</td>
            <td>@Model.StockPriceDtos[i].AskPrice</td>
        </tr>
    }
</table>
</body>