@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
<h2>Stock Prices</h2>
<table>
    <tr>
        <th>Symbol</th>
        <th>Bid</th>
        <th>Ask</th>
    </tr>
    <tr>
        <td>AAPL</td>
        <td>156.20</td>
        <td>156.99</td>
    </tr>
    <tr>
        <td>IBM</td>
        <td>155.10</td>
        <td>160.85</td>
    </tr>
    <tr>
        <td>MSFT</td>
        <td>78.00</td>
        <td>78.65</td>
    </tr>
</table>
</body>